[Unit]
Description=Dispara o speedtest-logger periodicamente

[Timer]
# Ajuste para o mesmo valor de "interval_minutes" do config.json
OnBootSec=2min
OnUnitActiveSec=15min
AccuracySec=30s
Persistent=true

[Install]
WantedBy=timers.target
