rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /speedtest_results/{doc} {
      allow read: if request.auth != null && request.auth.token.email == 'dcbasso@gmail.com';
    }
    match /incidents/{doc} {
      allow read: if request.auth != null && request.auth.token.email == 'dcbasso@gmail.com';
    }
    match /monitor_config/{doc} {
      allow read, write: if request.auth != null && request.auth.token.email == 'dcbasso@gmail.com';
    }
  }
}
